In [3]:
#import packages
import pandas as pd
import csv
import seaborn as sns
import numpy as np

*Step 1*: Read the data into a pandas dataframe for data manipulation and analyis

In [4]:
df = pd.read_csv('Crime_Data.csv')
df.head(10)

,Report Number,Occurred Date,Occurred Time,Reported Date,Reported Time,Crime Subcategory,Primary Offense Description,Precinct,Sector,Beat,Neighborhood
0,1975000079415,12/16/1975,900.0,12/16/1975,1500.0,BURGLARY-RESIDENTIAL,BURGLARY-FORCE-RES,SOUTH,R,R3,LAKEWOOD/SEWARD PARK
1,1976000069169,01/01/1976,1.0,01/31/1976,2359.0,SEX OFFENSE-OTHER,SEXOFF-INDECENT LIBERTIES,UNKNOWN,NaN,NaN,UNKNOWN
2,1979000049118,01/28/1979,1600.0,02/09/1979,1430.0,CAR PROWL,THEFT-CARPROWL,EAST,G,G2,CENTRAL AREA/SQUIRE PARK
3,19810000305573,08/22/1981,2029.0,08/22/1981,2030.0,HOMICIDE,HOMICIDE-PREMEDITATED-WEAPON,SOUTH,S,S2,BRIGHTON/DUNLAP
4,1981000076456,02/14/1981,2000.0,02/15/1981,435.0,BURGLARY-RESIDENTIAL,BURGLARY-FORCE-RES,SOUTHWEST,W,W3,ROXHILL/WESTWOOD/ARBOR HEIGHTS
5,19880000507482,09/29/1988,155.0,09/29/1988,155.0,MOTOR VEHICLE THEFT,VEH-THEFT-AUTO,WEST,M,M2,SLU/CASCADE
6,19930000465323,10/08/1993,2213.0,10/08/1993,2213.0,HOMICIDE,HOMICIDE-PREMEDITATED-GUN,SOUTH,R,R2,CLAREMONT/RAINIER VISTA
7,19940000264046,06/08/1994,0.0,06/12/1994,844.0,THEFT-ALL OTHER,THEFT-OTH,SOUTHWEST,F,F1,HIGH POINT
8,19960000543964,12/08/1996,1130.0,12/08/1996,1700.0,CAR PROWL,THEFT-CARPROWL,SOUTH,O,O1,SODO
9,19990000333737,NaN,NaN,01/01/1999,NaN,THEFT-SHOPLIFT,THEFT-SHOPLIFT,UNKNOWN,NaN,NaN,UNKNOWN

*Step 2*: Examine and clean the data for a more accurate analysis

In [5]:
#get column names
column_names = df.columns
print(column_names)

Index([u'Report Number', u'Occurred Date', u'Occurred Time', u'Reported Date',
       u'Reported Time', u'Crime Subcategory', u'Primary Offense Description',
       u'Precinct', u'Sector', u'Beat', u'Neighborhood'],
      dtype='object')

In [6]:
#get column datatypes
df.dtypes

Report Number                    int64
Occurred Date                   object
Occurred Time                  float64
Reported Date                   object
Reported Time                  float64
Crime Subcategory               object
Primary Offense Description     object
Precinct                        object
Sector                          object
Beat                            object
Neighborhood                    object
dtype: object

In [9]:
#drop columns I don't plan on using
df = df.drop(['Occurred Time', 'Reported Time', 'Sector', 'Beat'], axis=1)

In [10]:
df.head()

,Report Number,Occurred Date,Reported Date,Crime Subcategory,Primary Offense Description,Precinct,Neighborhood
0,1975000079415,12/16/1975,12/16/1975,BURGLARY-RESIDENTIAL,BURGLARY-FORCE-RES,SOUTH,LAKEWOOD/SEWARD PARK
1,1976000069169,01/01/1976,01/31/1976,SEX OFFENSE-OTHER,SEXOFF-INDECENT LIBERTIES,UNKNOWN,UNKNOWN
2,1979000049118,01/28/1979,02/09/1979,CAR PROWL,THEFT-CARPROWL,EAST,CENTRAL AREA/SQUIRE PARK
3,19810000305573,08/22/1981,08/22/1981,HOMICIDE,HOMICIDE-PREMEDITATED-WEAPON,SOUTH,BRIGHTON/DUNLAP
4,1981000076456,02/14/1981,02/15/1981,BURGLARY-RESIDENTIAL,BURGLARY-FORCE-RES,SOUTHWEST,ROXHILL/WESTWOOD/ARBOR HEIGHTS

In [12]:
#reexamining the dataframe after dropping those columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523590 entries, 0 to 523589
Data columns (total 7 columns):
Report Number                  523590 non-null int64
Occurred Date                  523588 non-null object
Reported Date                  523590 non-null object
Crime Subcategory              523328 non-null object
Primary Offense Description    523590 non-null object
Precinct                       523584 non-null object
Neighborhood                   523590 non-null object
dtypes: int64(1), object(6)
memory usage: 28.0+ MB

**From my observation, our data is primarily categorical.**

In [13]:
#looking for duplicate rows (there are none)
duplicatesdf = df[df.duplicated()]
print(duplicatesdf)

Empty DataFrame
Columns: [Report Number, Occurred Date, Reported Date, Crime Subcategory, Primary Offense Description, Precinct, Neighborhood]
Index: []

In [14]:
#checking if any columns contain na values
df.isna().any()

Report Number                  False
Occurred Date                   True
Reported Date                  False
Crime Subcategory               True
Primary Offense Description    False
Precinct                        True
Neighborhood                   False
dtype: bool

In [15]:
#dropping rows with NaN values
df = df.dropna()

In [24]:
#change column names for easier data manipulation
df=df.rename(columns = {'Report Number':'report_num', 'Occurred Date':'occurred_date',
                        'Reported Date':'reported_date', 'Crime Subcategory':'crime_subcategory',
                       'Primary Offense Description':'primary_offense_descript'})

In [25]:
#showing array of unique Precincts
df.Precinct.unique()

array(['SOUTH', 'UNKNOWN', 'EAST', 'SOUTHWEST', 'WEST', 'NORTH'],
      dtype=object)

In [26]:
#showing array of unique Neighborhoods
df.Neighborhood.unique()

array(['LAKEWOOD/SEWARD PARK', 'UNKNOWN', 'CENTRAL AREA/SQUIRE PARK',
       'BRIGHTON/DUNLAP', 'ROXHILL/WESTWOOD/ARBOR HEIGHTS', 'SLU/CASCADE',
       'CLAREMONT/RAINIER VISTA', 'HIGH POINT', 'SODO',
       'DOWNTOWN COMMERCIAL', 'FIRST HILL',
       'JUDKINS PARK/NORTH BEACON HILL', 'NORTH ADMIRAL', 'MILLER PARK',
       'HILLMAN CITY', 'MORGAN', 'SOUTH PARK', 'MONTLAKE/PORTAGE BAY',
       'CAPITOL HILL', 'NORTHGATE', 'LAKECITY', 'NEW HOLLY',
       'RAINIER BEACH', 'QUEEN ANNE', 'RAINIER VIEW', 'BELLTOWN',
       'ROOSEVELT/RAVENNA', 'ALASKA JUNCTION', 'GREENWOOD',
       'PIONEER SQUARE', 'NORTH BEACON HILL', 'GEORGETOWN',
       'SOUTH DELRIDGE', 'HIGHLAND PARK', 'BITTERLAKE', 'MOUNT BAKER',
       'MADRONA/LESCHI', 'COLUMBIA CITY', 'NORTH DELRIDGE', 'FREMONT',
       'MID BEACON HILL', 'BALLARD NORTH', 'BALLARD SOUTH',
       'PHINNEY RIDGE', 'SANDPOINT', 'MAGNOLIA', 'UNIVERSITY',
       'CHINATOWN/INTERNATIONAL DISTRICT', 'WALLINGFORD',
       'EASTLAKE - WEST', 'SOUTH BEACON HILL', 'ALKI', 'FAUNTLEROY SW',
       'PIGEON POINT', 'MADISON PARK', 'GENESEE',
       'COMMERCIAL HARBOR ISLAND', 'EASTLAKE - EAST',
       'COMMERCIAL DUWAMISH'], dtype=object)

In [27]:
#showing unique crime subcategories
df.crime_subcategory.unique()

array(['BURGLARY-RESIDENTIAL', 'SEX OFFENSE-OTHER', 'CAR PROWL',
       'HOMICIDE', 'MOTOR VEHICLE THEFT', 'THEFT-ALL OTHER', 'DUI',
       'AGGRAVATED ASSAULT-DV', 'RAPE', 'AGGRAVATED ASSAULT',
       'ROBBERY-STREET', 'BURGLARY-COMMERCIAL', 'THEFT-BICYCLE',
       'NARCOTIC', 'PROSTITUTION', 'ARSON', 'PORNOGRAPHY',
       'ROBBERY-COMMERCIAL', 'FAMILY OFFENSE-NONVIOLENT',
       'THEFT-SHOPLIFT', 'WEAPON', 'THEFT-BUILDING',
       'ROBBERY-RESIDENTIAL', 'TRESPASS', 'LIQUOR LAW VIOLATION',
       'DISORDERLY CONDUCT', 'GAMBLE', 'LOITERING',
       'BURGLARY-COMMERCIAL-SECURE PARKING',
       'BURGLARY-RESIDENTIAL-SECURE PARKING'], dtype=object)